.subway_container {
  padding-top: 85px;
  padding-bottom: 85px;
  width: 100%;
  /* position: relative;
  z-index: 0; */
  overflow: hidden;
  /* min-height: 100px;
  min-width: 100px; */
}
.subway_container hr {
  border: 1px solid #EBE7E7;
}
.subway_container > svg {
  /* position: absolute; */
  width: 1433px;
  /* height: 773.8px; */
  margin-top: 30px;
  transform: scale(1.4) scaleZ(1);
  transition-timing-function: ease;
  cursor: default;
}
.subway_container path {
  stroke-width: 3;
}
:not(svg) {
  transform-origin: 0px 0px;
}
.indicator {
  width: 10px;
  height: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 5;
}
.indicator_text {
  text-anchor: middle;
  fill: white;
  stroke: white;
  stroke-width: 0.6;
  font-size: 9px;
  font-weight: normal;
  line-height: 10px;
}
.station_group {
  cursor: pointer;
}
.station_group > circle {
  stroke-width: 1;
  fill: white;
  transition: r 0.3s;
}
.station_group:hover > circle {
  r: 4;
  stroke-width: 2;
}
.station_group > text {
  text-anchor: end;
}
.station_group > text > tspan {
  font-size: 9px;
}
.station_group:hover > text {
  font-weight: bolder;
  font-size: 13px;
}
